# Global snippets

# c ctyle file header
snippet cwhead
	/*
	 * `Filename()` - ${1:desc}
	 * Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")`
	 * Author: qianshang <qianshang@alibaba-inc.com>
	 * Since: `strftime("%Y-%m-%d")`
	 */
snippet cphead
	/*
	 * `Filename()` - ${1:desc}
	 * Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")`
	 * Author: chiyx <chiyx@outlook.com>
	 * Since: `strftime("%Y-%m-%d")`
	 */
